.button {
    font-size: .85rem;
    padding: .8rem 0;
    width: 33%;
}

.button:hover {
    background-color: #38384F !important;
}

.button--mercury, .button--mars, .button--neptune, .button--jupiter, .button--venus, .button--uranus,
.button--earth, .button--saturn {
    font-weight: 700;
    opacity: 1;
}

.button--mercury {
    border-bottom: 3px solid #419EBB;
}

.button--mars {
    border-bottom: 3px solid #D14C32;
}

.button--neptune {
    border-bottom: 3px solid #2D68F0;
}

.button--jupiter {
    border-bottom: 3px solid #D83A34;
}

.button--venus {
    border-bottom: 3px solid #EDA249;
}

.button--uranus {
    border-bottom: 3px solid #1ec2a4;
}

.button--earth {
    border-bottom: 3px solid #6D2ED5;
}

.button--saturn {
    border-bottom: 3px solid #CD5120;
}

@media screen and (min-width: 610px) {

    .button {
        border: 1px solid #979797de;
        margin-bottom: 15px;
        width: 100%;
    }

    .button:hover {
        border: none;
    }

    .button:last-child {
        margin-bottom: 0;
    }

    .button--mercury, .button--mars, .button--neptune, .button--jupiter, .button--venus, .button--uranus,
    .button--earth, .button--saturn {
        border: none;
    }

    .button--mercury {
       background-color: #419EBB !important;
    }

    .button--mars {
       background-color: #D14C32 !important;
    }

    .button--neptune {
       background-color: #2D68F0 !important;
    }
    
    .button--jupiter {
       background-color: #D83A34 !important;
    }

    .button--venus {
       background-color: #EDA249 !important;
    }

    .button--uranus {
       background-color: #1ec2a4 !important;
    }

    .button--earth {
       background-color: #6D2ED5 !important;
    }

    .button--saturn {
       background-color: #CD5120 !important;
    }
}