.info {
    border: 1px solid #979797de;
    margin-bottom: 1rem;
}

.info:last-child {
    margin-bottom: 0;
}

.info__title {
    font-size: .75rem;
}

.info__description {
    font-size: 1.4rem;
}

@media screen and (min-width: 610px) {
    .info {
        margin-bottom: 0;
        padding-left: 2%;
        padding-right: 2%;
        width: 24%;
    }

    .info__title {
        font-size: .7rem;
    }

    .info__description {
        font-size: 1.1rem;
        margin-top: 1rem;
    }
}

@media screen and (min-width: 730px) {
    .info__title {
        font-size: .75rem;
    }

    .info__description {
        font-size: 1.3rem;
    }
}