
*:not(.fas){
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif !important;
}

:root {
    --orange: #D87D4A;
    --red: rgb(255, 0, 0);
}

html {
    max-width: 1600px;
    min-width: 300px;
}

.error-border {
    border: 1px solid var(--red) !important;
}

.error-message {
    color: var(--red);
    display: block !important;
    font-size: .9rem;
    margin-bottom: 10px;
    opacity: .9;
}

.modal-opened {
    background-color: #ccc;
    opacity: .5;
}

.font-weight-5 {
    font-weight: 500;
}

.font-weight-6 {
    font-weight: 600;
}

.font-weight-7 {
    font-weight: 700;
}

.font-weight-8 {
    font-weight: 800;
}

.opacity-5 {
    opacity: .5;
}

.opacity-6 {
    opacity: .6;
}

.opacity-7 {
    opacity: .7;
}

.opacity-8 {
    opacity: .8;
}

.opacity-9 {
    opacity: .9;
}
